/SeleniumProject/.vs/SeleniumProject/FileContentIndex
/SeleniumProject/.vs/SeleniumProject/v17/TestStore/0
/SeleniumProject/.vs/SeleniumProject/v17
/SeleniumProject/SeleniumProject/obj/Debug/net6.0
/SeleniumProject/SeleniumProject/obj
